.container {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5d4954;
}

.logo {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
}
